
.button {
    -fx-background-color: transparent !important;
    -fx-min-width: 28;
}

.button:hover {
    -fx-background-color: -fx-flat-button-color !important;
}

.editor-buttons {
    -fx-text-fill: derive(-border-color, 50%);
}

.editor-buttons *HBox {
    -fx-background-color: derive(-border-color, 50%);
    -fx-min-width: 16;
    -fx-min-height: 16;
    -fx-pref-width: 16 !important;
    -fx-pref-height: 16 !important;
}

.editor-buttons:hover *HBox {
    -fx-background-color: derive(-border-color, 100%);
}


/* checkbox */
.mark-item .check-box {
    -fx-text-fill: derive(-border-color, 50%);
}

.mark-item > .check-box:focused .box,
.mark-item > .check-box .box {
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-background-color: -fx-background;
    -fx-border-color: -border-color;
}

.mark-item > .check-box:selected .box .mark,
.check-box:selected .box .mark {
    -fx-border-color: derive(-border-color, 50%);
    -fx-background-color: derive(-border-color, 50%);
}

.check-box:selected:hover .box .mark {
    -fx-background-color: derive(-border-color, 100%);
}

/* end */
.button-hide {
    -fx-shape: "M16.043,11.667L22.609,5.1c0.963-0.963,0.963-2.539,0-3.502l-0.875-0.875c-0.963-0.964-2.539-0.964-3.502,0L11.666,7.29  L5.099,0.723c-0.962-0.963-2.538-0.963-3.501,0L0.722,1.598c-0.962,0.963-0.962,2.539,0,3.502l6.566,6.566l-6.566,6.567  c-0.962,0.963-0.962,2.539,0,3.501l0.876,0.875c0.963,0.963,2.539,0.963,3.501,0l6.567-6.565l6.566,6.565  c0.963,0.963,2.539,0.963,3.502,0l0.875-0.875c0.963-0.963,0.963-2.539,0-3.501L16.043,11.667z";
    -fx-background-color: #9e1e1e;
}

.button-split-screen {
    -fx-shape: "M14 19C13.7348 19 13.4804 19.1054 13.2929 19.2929C13.1054 19.4804 13 19.7348 13 20V24H4V8H13V12C13 12.2652 13.1054 12.5196 13.2929 12.7071C13.4804 12.8946 13.7348 13 14 13C14.2652 13 14.5196 12.8946 14.7071 12.7071C14.8946 12.5196 15 12.2652 15 12V7C15 6.73478 14.8946 6.48043 14.7071 6.29289C14.5196 6.10536 14.2652 6 14 6H3C2.73478 6 2.48043 6.10536 2.29289 6.29289C2.10536 6.48043 2 6.73478 2 7V25C2 25.2652 2.10536 25.5196 2.29289 25.7071C2.48043 25.8946 2.73478 26 3 26H14C14.2652 26 14.5196 25.8946 14.7071 25.7071C14.8946 25.5196 15 25.2652 15 25V20C15 19.7348 14.8946 19.4804 14.7071 19.2929C14.5196 19.1054 14.2652 19 14 19Z  M29 6H18C17.7348 6 17.4804 6.10536 17.2929 6.29289C17.1054 6.48043 17 6.73478 17 7V12C17 12.2652 17.1054 12.5196 17.2929 12.7071C17.4804 12.8946 17.7348 13 18 13C18.2652 13 18.5196 12.8946 18.7071 12.7071C18.8946 12.5196 19 12.2652 19 12V8H28V24H19V20C19 19.7348 18.8946 19.4804 18.7071 19.2929C18.5196 19.1054 18.2652 19 18 19C17.7348 19 17.4804 19.1054 17.2929 19.2929C17.1054 19.4804 17 19.7348 17 20V25C17 25.2652 17.1054 25.5196 17.2929 25.7071C17.4804 25.8946 17.7348 26 18 26H29C29.2652 26 29.5196 25.8946 29.7071 25.7071C29.8946 25.5196 30 25.2652 30 25V7C30 6.73478 29.8946 6.48043 29.7071 6.29289C29.5196 6.10536 29.2652 6 29 6Z  M7 16.0002C7 16.2654 7.10536 16.5198 7.29289 16.7073C7.48043 16.8948 7.73478 17.0002 8 17.0002H22.59L22.29 17.2902C22.1963 17.3831 22.1219 17.4937 22.0711 17.6156C22.0203 17.7375 21.9942 17.8682 21.9942 18.0002C21.9942 18.1322 22.0203 18.2629 22.0711 18.3848C22.1219 18.5066 22.1963 18.6172 22.29 18.7102C22.383 18.8039 22.4936 18.8783 22.6154 18.9291C22.7373 18.9798 22.868 19.006 23 19.006C23.132 19.006 23.2627 18.9798 23.3846 18.9291C23.5064 18.8783 23.617 18.8039 23.71 18.7102L25.71 16.7102C25.8037 16.6172 25.8781 16.5066 25.9289 16.3848C25.9797 16.2629 26.0058 16.1322 26.0058 16.0002C26.0058 15.8682 25.9797 15.7375 25.9289 15.6156C25.8781 15.4937 25.8037 15.3831 25.71 15.2902L23.71 13.2902C23.6168 13.1969 23.5061 13.123 23.3842 13.0725C23.2624 13.0221 23.1319 12.9961 23 12.9961C22.7337 12.9961 22.4783 13.1019 22.29 13.2902C22.1968 13.3834 22.1228 13.4941 22.0723 13.6159C22.0219 13.7378 21.9959 13.8683 21.9959 14.0002C21.9959 14.2665 22.1017 14.5219 22.29 14.7102L22.59 15.0002H8C7.73478 15.0002 7.48043 15.1055 7.29289 15.2931C7.10536 15.4806 7 15.735 7 16.0002Z";
}

.button-undo {
    -fx-shape: "M12.7,7.1V6c0-0.8-0.4-1.5-1.1-1.8c-0.7-0.3-1.4-0.2-2,0.2l-6.7,6C2.3,10.8,2,11.4,2,12s0.3,1.2,0.7,1.6l6.8,6 c0.6,0.4,1.3,0.5,2,0.2c0.7-0.3,1.1-1,1.1-1.8v-1c6.6,0.1,12.7,4.1,15.4,10.4c0.2,0.4,0.5,0.6,0.9,0.6c0.1,0,0.1,0,0.2,0 c0.5-0.1,0.8-0.5,0.8-1C30,16.7,22.5,8.2,12.7,7.1z";
}

.button-redo {
    -fx-shape: "M19.728 3.59066V2.30596C19.728 1.37163 20.1868 0.554096 20.9896 0.203722C21.7925 -0.146651 22.5953 -0.0298594 23.2835 0.437305L30.9678 7.44477C31.6559 7.91193 32 8.61268 32 9.31343C32 10.0142 31.6559 10.7149 31.1972 11.1821L23.3982 18.1895C22.71 18.6567 21.9072 18.7735 21.1043 18.4231C20.3015 18.0728 19.8427 17.2552 19.8427 16.3209V15.153C12.2731 15.2698 5.27693 19.9414 2.18027 27.2993C1.95088 27.7664 1.60681 28 1.14805 28C1.03335 28 1.03335 28 0.918662 28C0.345206 27.8832 0.00113295 27.416 0.00113295 26.8321C-0.113558 14.8026 8.48829 4.87537 19.728 3.59066Z";
}

.button-cut {
    -fx-shape: "M58.00213,45.52814,79.47089,60.26706l45.23335-32.14174a2.51473,2.51473,0,0,0,.31555-3.83809,25.80325,25.80325,0,0,0-33.10573-2.9093Z M52.727,98.33253a25.13848,25.13848,0,0,0-1.332-8.09678c-.2103-.59591-.4206-1.19183-.68352-1.77009a25.02544,25.02544,0,0,0-1.45465-2.9093c-.35053-.57827-.701-1.13909-1.08657-1.68238-.19276-.28047-.40305-.56083-.61335-.8413l5.64316-3.99576,38.71391,27.5676a25.80126,25.80126,0,0,0,33.10573-2.89165,2.53452,2.53452,0,0,0-.31555-3.85563L74.24832,64,47.52191,45.0024c.01754-.01754.01754-.03509.03509-.05263.28036-.36807.56083-.75358.82365-1.1392q.47317-.70967.89382-1.41956a23.13317,23.13317,0,0,0,1.43711-2.8741,15.40887,15.40887,0,0,0,.68352-1.77009,24.95491,24.95491,0,0,0,1.332-8.07924,25.24551,25.24551,0,1,0-38.8366,21.25835c.15778.2104.12269.2104,1.12166.9289.12269.08761.26282.19275.4206.2979l.01754.01754q.42054.31545,1.10412.78867c.01754,0,.035,0,.035.03509.298.2103.61346.45557.999.701.01754,0,.03509.03509.03509.03509C20.112,55.53515,24.40575,58.61965,31.819,64c-7.41326,5.38035-11.707,8.46485-14.19563,10.26993-.01754,0-.03509.03509-.03509.03509-.38551.24538-.701.49077-.999.70106-1.54215,1.10412-2.12052,1.52471-2.401,1.735a.81363.81363,0,0,1-.12258.12269c-.07017.07006-.10526.12269-.17532.19276a25.249,25.249,0,1,0,38.8366,21.276Zm-39.01182-68.665A13.75754,13.75754,0,1,1,27.47271,43.42506,13.78473,13.78473,0,0,1,13.71522,29.66757Zm0,68.665A13.75754,13.75754,0,1,1,27.47271,112.09,13.76972,13.76972,0,0,1,13.71522,98.33253Z";
}

.button-copy {
    -fx-shape: "M56.34 17.27C56.2654 17.1214 56.1712 16.9835 56.06 16.86L42.13 2.94C41.8438 2.66648 41.4658 2.50958 41.07 2.5H20.92C19.6159 2.50264 18.3661 3.02185 17.444 3.94395C16.5218 4.86606 16.0026 6.11595 16 7.42V10.62H12.42C11.1159 10.6226 9.86606 11.1418 8.94395 12.064C8.02185 12.9861 7.50264 14.2359 7.5 15.54V56.54C7.50264 57.8441 8.02185 59.0939 8.94395 60.016C9.86606 60.9382 11.1159 61.4574 12.42 61.46H43.08C44.3772 61.4574 45.6211 60.9437 46.542 60.0302C47.463 59.1168 47.9868 57.8771 48 56.58V53.38H51.58C52.8841 53.3774 54.1339 52.8582 55.056 51.936C55.9782 51.0139 56.4974 49.7641 56.5 48.46V17.93C56.4993 17.7005 56.4445 17.4744 56.34 17.27V17.27ZM42.57 7.62L51.38 16.42H42.57V7.62ZM45 56.62C45 57.1292 44.7977 57.6176 44.4376 57.9776C44.0776 58.3377 43.5892 58.54 43.08 58.54H12.42C11.9108 58.54 11.4224 58.3377 11.0624 57.9776C10.7023 57.6176 10.5 57.1292 10.5 56.62V15.62C10.5 15.1108 10.7023 14.6224 11.0624 14.2624C11.4224 13.9023 11.9108 13.7 12.42 13.7H16V48.46C16.0026 49.7641 16.5218 51.0139 17.444 51.936C18.3661 52.8582 19.6159 53.3774 20.92 53.38H45V56.62Z ";
}

.button-insert {
    -fx-shape: "M374.26,171.75h-26.74v-25.88c0-14.55-11.79-26.34-26.34-26.34H142.53c-14.55,0-26.34,11.79-26.34,26.34v178.65 c0,14.55,11.79,26.34,26.34,26.34h26.74v25.88c0,14.55,11.79,26.34,26.34,26.34h178.65c14.55,0,26.34-11.79,26.34-26.34V198.09 C400.6,183.54,388.81,171.75,374.26,171.75z M144.41,296.3V174.09c0-14.55,11.79-26.34,26.34-26.34h122.22 c13.76,0,25.05,10.55,26.23,24.01H195.61c-14.55,0-26.34,11.79-26.34,26.34V322.6C155.41,321.83,144.41,310.35,144.41,296.3z";
}

.button-find {
    -fx-shape: "M63.22,59.45,47.3,43.53a26.7,26.7,0,1,0-3.77,3.77L59.45,63.22a2.67,2.67,0,0,0,3.77-3.77ZM26.67,48A21.34,21.34,0,1,1,48,26.67,21.36,21.36,0,0,1,26.67,48Z";
}

.button-replace {
    -fx-shape: "M52.86,15.96l-5.62,28.57l-5.7-8.59C29.26,40.87,22.37,49,21.35,61.51c-10.08-17.63-3.96-33.43,8.82-42.69 l-5.82-8.76L52.86,15.96L52.86,15.96L52.86,15.96L52.86,15.96L52.86,15.96z M75.63,0h41.39c1.61,0,3.08,0.66,4.14,1.72 s1.72,2.52,1.72,4.14v32.18c0,1.61-0.66,3.08-1.72,4.14c-0.12,0.12-0.24,0.23-0.37,0.33c-1.02,0.86-2.34,1.39-3.77,1.39H75.63 c-1.61,0-3.08-0.66-4.14-1.72c-1.06-1.06-1.72-2.52-1.72-4.14V5.86c0-1.6,0.66-3.06,1.72-4.13L71.5,1.72 C72.55,0.66,74.02,0,75.63,0L75.63,0z M5.86,66.87h41.39c1.61,0,3.08,0.66,4.14,1.72c1.06,1.06,1.72,2.52,1.72,4.14v32.18 c0,1.61-0.66,3.08-1.72,4.14c-0.12,0.12-0.24,0.23-0.37,0.33c-1.02,0.86-2.34,1.39-3.77,1.39H5.86c-1.61,0-3.08-0.66-4.14-1.72 S0,106.52,0,104.9V72.72c0-1.61,0.66-3.08,1.72-4.14c0.12-0.12,0.26-0.24,0.39-0.34C3.13,67.38,4.44,66.87,5.86,66.87L5.86,66.87z M45.25,74.71H7.85v28.2h37.41V74.71L45.25,74.71z M115.03,7.85H77.63v28.2h37.41V7.85L115.03,7.85z M71,101.54l5.62-28.57 l5.7,8.59C94.6,76.63,101.49,68.51,102.52,56c10.08,17.63,3.96,33.44-8.82,42.69l5.82,8.76L71,101.54L71,101.54L71,101.54 L71,101.54L71,101.54z";
}

.button-settings {
    -fx-shape: "M27.526,18.036L27,17.732c-0.626-0.361-1-1.009-1-1.732s0.374-1.371,1-1.732l0.526-0.304  c1.436-0.83,1.927-2.662,1.098-4.098l-1-1.732c-0.827-1.433-2.666-1.925-4.098-1.098L23,7.339c-0.626,0.362-1.375,0.362-2,0  c-0.626-0.362-1-1.009-1-1.732V5c0-1.654-1.346-3-3-3h-2c-1.654,0-3,1.346-3,3v0.608c0,0.723-0.374,1.37-1,1.732  c-0.626,0.361-1.374,0.362-2,0L8.474,7.036C7.042,6.209,5.203,6.701,4.375,8.134l-1,1.732c-0.829,1.436-0.338,3.269,1.098,4.098  L5,14.268C5.626,14.629,6,15.277,6,16s-0.374,1.371-1,1.732l-0.526,0.304c-1.436,0.829-1.927,2.662-1.098,4.098l1,1.732  c0.828,1.433,2.667,1.925,4.098,1.098L9,24.661c0.626-0.363,1.374-0.361,2,0c0.626,0.362,1,1.009,1,1.732V27c0,1.654,1.346,3,3,3h2  c1.654,0,3-1.346,3-3v-0.608c0-0.723,0.374-1.37,1-1.732c0.625-0.361,1.374-0.362,2,0l0.526,0.304  c1.432,0.826,3.271,0.334,4.098-1.098l1-1.732C29.453,20.698,28.962,18.865,27.526,18.036z M16,21c-2.757,0-5-2.243-5-5s2.243-5,5-5  s5,2.243,5,5S18.757,21,16,21z";
}

.button-save {
    -fx-shape: "M432.823,121.049c-3.806-9.132-8.377-16.367-13.709-21.695l-79.941-79.942c-5.325-5.325-12.56-9.895-21.696-13.704 C308.346,1.903,299.969,0,292.357,0H27.409C19.798,0,13.325,2.663,7.995,7.993c-5.33,5.327-7.992,11.799-7.992,19.414v383.719 c0,7.617,2.662,14.089,7.992,19.417c5.33,5.325,11.803,7.991,19.414,7.991h383.718c7.618,0,14.089-2.666,19.417-7.991 c5.325-5.328,7.987-11.8,7.987-19.417V146.178C438.531,138.562,436.629,130.188,432.823,121.049z M182.725,45.677 c0-2.474,0.905-4.611,2.714-6.423c1.807-1.804,3.949-2.708,6.423-2.708h54.819c2.468,0,4.609,0.902,6.417,2.708 c1.813,1.812,2.717,3.949,2.717,6.423v91.362c0,2.478-0.91,4.618-2.717,6.427c-1.808,1.803-3.949,2.708-6.417,2.708h-54.819 c-2.474,0-4.617-0.902-6.423-2.708c-1.809-1.812-2.714-3.949-2.714-6.427V45.677z M328.906,401.991H109.633V292.355h219.273 V401.991z M402,401.991h-36.552h-0.007V283.218c0-7.617-2.663-14.085-7.991-19.417c-5.328-5.328-11.8-7.994-19.41-7.994H100.498 c-7.614,0-14.087,2.666-19.417,7.994c-5.327,5.328-7.992,11.8-7.992,19.417v118.773H36.544V36.542h36.544v118.771 c0,7.615,2.662,14.084,7.992,19.414c5.33,5.327,11.803,7.993,19.417,7.993h164.456c7.61,0,14.089-2.666,19.41-7.993 c5.325-5.327,7.994-11.799,7.994-19.414V36.542c2.854,0,6.563,0.95,11.136,2.853c4.572,1.902,7.806,3.805,9.709,5.708l80.232,80.23 c1.902,1.903,3.806,5.19,5.708,9.851c1.909,4.665,2.857,8.33,2.857,10.994V401.991z";
}

.button-tab {
    -fx-shape: "M11.3403 3.68056H11.125C10.6418 3.68056 10.25 3.2888 10.25 2.80556V1C10.25 0.447715 9.80229 0 9.25 0H2.91667C2.36438 0 1.91667 0.447715 1.91667 1V2.72222C1.91667 3.2515 1.48761 3.68056 0.958334 3.68056H0.659722C0.295368 3.68056 0 3.97592 0 4.34028C0 4.70463 0.295368 5 0.659723 5H11.3403C11.7046 5 12 4.70463 12 4.34028C12 3.97592 11.7046 3.68056 11.3403 3.68056Z";
    -fx-pref-height: 8 !important;
    -fx-min-height: 8 !important;
    -fx-max-height: 8 !important;
}

.button-search {
    -fx-shape: "M63.22,59.45,47.3,43.53a26.7,26.7,0,1,0-3.77,3.77L59.45,63.22a2.67,2.67,0,0,0,3.77-3.77ZM26.67,48A21.34,21.34,0,1,1,48,26.67,21.36,21.36,0,0,1,26.67,48Z";
    -fx-background-color: #f2f2f2F0;
    -fx-min-width: 16;
    -fx-min-height: 16;
    -fx-max-width: 16 !important;
    -fx-max-height: 16 !important;
}

.tab-project {
    -fx-shape: "M6.63477851,18.7733424 L6.63477851,15.7156161 C6.63477851,14.9350667 7.27217143,14.3023065 8.05843544,14.3023065 L10.9326107,14.3023065 C11.310188,14.3023065 11.6723007,14.4512083 11.9392882,14.7162553 C12.2062757,14.9813022 12.3562677,15.3407831 12.3562677,15.7156161 L12.3562677,18.7733424 C12.3538816,19.0978491 12.4820659,19.4098788 12.7123708,19.6401787 C12.9426757,19.8704786 13.2560494,20 13.5829406,20 L15.5438266,20 C16.4596364,20.0023499 17.3387522,19.6428442 17.9871692,19.0008077 C18.6355861,18.3587712 19,17.4869804 19,16.5778238 L19,7.86685918 C19,7.13246047 18.6720694,6.43584231 18.1046183,5.96466895 L11.4340245,0.675869015 C10.2736604,-0.251438297 8.61111277,-0.221497907 7.48539114,0.74697893 L0.967012253,5.96466895 C0.37274068,6.42195254 0.0175522924,7.12063643 0,7.86685918 L0,16.568935 C0,18.4638535 1.54738155,20 3.45617342,20 L5.37229029,20 C6.05122667,20 6.60299723,19.4562152 6.60791706,18.7822311 L6.63477851,18.7733424 Z";

    -fx-background-color: #f2f2f2;
    -fx-min-width: 14;
    -fx-min-height: 14;
}

.tab-form {
    -fx-shape: "M5,19 L9,19 L9,12 L3,12 L3,17 C3,18.1 3.9,19 5,19 Z M10,19 L20,19 C21.1,19 22,18.1 22,17 L22,12 L10,12 L10,19 Z M3,7 L3,11 L22,11 L22,7 C22,5.9 21.1,5 20,5 L5,5 C3.9,5 3,5.9 3,7 Z";
    -fx-background-color: #f2f2f2;
    -fx-min-width: 14;
    -fx-min-height: 14;
}

.tab-module {
    -fx-shape: "M0.826904 14.9999V20.2499L6.0769 23.2499L9.8269 21.1069 M6.0769 23.2499V17.9999 M18.0769 11.9999L12.8269 14.9999L18.0769 17.9999L23.3269 14.9999L18.0769 11.9999Z M12.8269 14.9999V20.2499L18.0769 23.2499L23.3269 20.2499V14.9999 M18.0769 17.9999V23.2499 M12.0769 0.749939L6.8269 3.74994L12.0769 6.74994L17.3269 3.74994L12.0769 0.749939Z M6.8269 3.74994V8.99994L12.0769 11.9999L17.3269 8.99994V3.74994 M12.0769 6.74994V11.9999 M9.8269 14.1429L6.0769 11.9999L0.826904 14.9999L6.0769 17.9999L9.0769 16.2859";
    -fx-border-color: #f2f2f2;
    -fx-min-width: 14;
    -fx-min-height: 14;
}

.tab-sprite {
    -fx-shape: "M21,0H3A3,3,0,0,0,0,3V21a3,3,0,0,0,3,3H21a3,3,0,0,0,3-3V3A3,3,0,0,0,21,0ZM3,2H21a1,1,0,0,1,1,1V15.86L14.18,9.35a5.06,5.06,0,0,0-6.39-.06L2,13.92V3A1,1,0,0,1,3,2ZM21,22H3a1,1,0,0,1-1-1V16.48l7-5.63a3.06,3.06,0,0,1,3.86,0L22,18.47V21A1,1,0,0,1,21,22Z M18,9a3,3,0,1,0-3-3A3,3,0,0,0,18,9Zm0-4a1,1,0,1,1-1,1A1,1,0,0,1,18,5Z";
    -fx-background-color: #6EBAFF;
    -fx-min-width: 14;
    -fx-min-height: 14;
}


.tab-php {
    /*-fx-shape: "M458.5,258.3c-9.2,58.5-27.1,75.6-58.8,114.9c-31.7,33.3-77.3,88.9-141.9,85.8  c-58.5-9.2-75.6-27.1-114.9-58.8c-33.3-31.7-88.9-77.3-85.8-141.9c9.2-58.5,27.1-75.6,58.8-114.9c31.7-33.3,77.3-88.9,141.9-85.8  c58.5,9.2,75.6,27.1,114.9,58.8C406,148.1,461.6,193.7,458.5,258.3z  M179.3,235.2c7.9,0,12.8,1.3,15.4,4.3c2.6,2.6,2.9,7.9,1.6,14.4c-1.3,7.2-3.9,12.4-8.2,15.4     c-3.9,2.9-10.1,4.6-18.3,4.6h-12.4l7.5-39.3C164.9,235.2,179.3,235.2,179.3,235.2z M129.6,313.7h20.3l4.6-24.9h17.7     c7.9,0,13.7-0.7,19-2.3c4.9-1.6,9.5-4.3,13.4-8.2c3.3-2.9,6.2-6.9,8.5-10.5c2-3.6,3.6-8.2,4.3-12.4c2-11.1,0.7-19.6-4.6-25.8     c-5.2-6.2-13.7-9.2-25.5-9.2h-39.3L129.6,313.7z M237.9,195.6h20.3l-4.6,24.9h18c11.1,0,19.3,2,23.2,6.2c4.3,3.9,5.9,10.5,3.6,19.3l-8.5,43.5h-20.6     l8.2-41.2c1-4.6,0.7-7.9-1-9.5c-1.6-1.6-4.9-2.6-10.1-2.6h-16l-10.5,53.3h-20.3L237.9,195.6z M343.2,235.2c7.9,0,12.8,1.3,15.4,4.3c2.6,2.6,2.9,7.9,1.6,14.4c-1.3,7.2-3.9,12.4-8.2,15.4     c-3.9,2.9-10.1,4.6-18.3,4.6h-12.4l7.5-39.3C329.2,235.2,343.2,235.2,343.2,235.2z M293.8,313.7h20.3l4.6-24.9h17.7     c7.9,0,13.7-0.7,19-2.3c4.9-1.6,9.5-4.3,13.4-8.2c3.3-2.9,6.2-6.9,8.5-10.5c2-3.6,3.6-8.2,4.3-12.4c2-11.1,0.7-19.6-4.6-25.8     c-5.2-6.2-13.7-9.2-25.5-9.2h-39.3L293.8,313.7";*/
    -fx-shape: "M104,1085.7332 L104,1088.0002 C104,1088.5522 103.552,1089.0002 103,1089.0002 C102.448,1089.0002 102,1088.5522 102,1088.0002 L102,1087.0002 L98,1087.0002 C96.895,1087.0002 96,1086.1052 96,1085.0002 L96,1081.0002 L87,1081.0002 C86.448,1081.0002 86,1081.4482 86,1082.0002 L86,1088.0002 C86,1088.5522 85.552,1089.0002 85,1089.0002 C84.448,1089.0002 84,1088.5522 84,1088.0002 L84,1081.0002 C84,1079.8962 84.895,1079.0002 86,1079.0002 L97.55,1079.0002 C97.824,1079.0002 98.086,1079.1132 98.275,1079.3112 L103.725,1085.0442 C103.901,1085.2302 104,1085.4772 104,1085.7332 M97,1092.0002 L97,1098.0002 C97,1098.5522 96.552,1099.0002 96,1099.0002 C95.448,1099.0002 95,1098.5522 95,1098.0002 L95,1096.0002 L93,1096.0002 L93,1098.0002 C93,1098.5522 92.552,1099.0002 92,1099.0002 C91.448,1099.0002 91,1098.5522 91,1098.0002 L91,1092.0002 C91,1091.4482 91.448,1091.0002 92,1091.0002 C92.552,1091.0002 93,1091.4482 93,1092.0002 L93,1094.0002 L95,1094.0002 L95,1092.0002 C95,1091.4482 95.448,1091.0002 96,1091.0002 C96.552,1091.0002 97,1091.4482 97,1092.0002 M101,1095.0002 L100,1095.0002 L100,1093.0002 L101,1093.0002 C101.552,1093.0002 102,1093.4482 102,1094.0002 C102,1094.5522 101.552,1095.0002 101,1095.0002 M100.83,1091.0002 L99,1091.0002 C98.448,1091.0002 98,1091.4482 98,1092.0002 L98,1098.0002 C98,1098.5522 98.448,1099.0002 99,1099.0002 C99.552,1099.0002 100,1098.5522 100,1098.0002 L100,1097.0002 L101,1097.0002 C102.71,1097.0002 104.086,1095.5692 103.996,1093.8392 C103.911,1092.2172 102.455,1091.0002 100.83,1091.0002 M87,1095.0002 L86,1095.0002 L86,1093.0002 L87,1093.0002 C87.552,1093.0002 88,1093.4482 88,1094.0002 C88,1094.5522 87.552,1095.0002 87,1095.0002 M86.83,1091.0002 L85,1091.0002 C84.448,1091.0002 84,1091.4482 84,1092.0002 L84,1098.0002 C84,1098.5522 84.448,1099.0002 85,1099.0002 C85.552,1099.0002 86,1098.5522 86,1098.0002 L86,1097.0002 L87,1097.0002 C88.71,1097.0002 90.086,1095.5692 89.996,1093.8392 C89.911,1092.2172 88.455,1091.0002 86.83,1091.0002";
    -fx-background-color: #f2f2f2;
    -fx-min-width: 14;
    -fx-min-height: 14;
}

.tab-css {
    -fx-shape: "M32 0L72.8 460.8L256 512L439.136 460.832L480 0H32Z M392.768 150.688L387.616 208.576L372.064 382.112L256 414.208L255.904 414.24L139.904 382.112L131.808 291.36H188.64L192.864 338.432L255.936 355.456L255.968 355.424L319.136 338.4L327.744 259.968L129.088 260.512L123.456 206.88L332.512 204.416L336.736 147.008L117.856 147.616L114.176 94.208H256H397.824L392.768 150.688Z";
    -fx-background-color: #f2f2f2;
    -fx-min-width: 14;
    -fx-min-height: 14;
}

.tab-file {
    -fx-shape: "";
    -fx-background-color: #f2f2f2;
    -fx-min-width: 14;
    -fx-min-height: 14;
}





.property-menu-button {
    -fx-shape: "M4,18 L20,18 C20.55,18 21,17.55 21,17 C21,16.45 20.55,16 20,16 L4,16 C3.45,16 3,16.45 3,17 C3,17.55 3.45,18 4,18 Z M4,13 L20,13 C20.55,13 21,12.55 21,12 C21,11.45 20.55,11 20,11 L4,11 C3.45,11 3,11.45 3,12 C3,12.55 3.45,13 4,13 Z M3,7 C3,7.55 3.45,8 4,8 L20,8 C20.55,8 21,7.55 21,7 C21,6.45 20.55,6 20,6 L4,6 C3.45,6 3,6.45 3,7 Z";
    -fx-border-color: #f2f2f2;
    -fx-border-width: 1;
    -fx-min-width: 14;
    -fx-max-height: 10;
}

.list-item-project {
    -fx-shape: "M6.63477851,18.7733424 L6.63477851,15.7156161 C6.63477851,14.9350667 7.27217143,14.3023065 8.05843544,14.3023065 L10.9326107,14.3023065 C11.310188,14.3023065 11.6723007,14.4512083 11.9392882,14.7162553 C12.2062757,14.9813022 12.3562677,15.3407831 12.3562677,15.7156161 L12.3562677,18.7733424 C12.3538816,19.0978491 12.4820659,19.4098788 12.7123708,19.6401787 C12.9426757,19.8704786 13.2560494,20 13.5829406,20 L15.5438266,20 C16.4596364,20.0023499 17.3387522,19.6428442 17.9871692,19.0008077 C18.6355861,18.3587712 19,17.4869804 19,16.5778238 L19,7.86685918 C19,7.13246047 18.6720694,6.43584231 18.1046183,5.96466895 L11.4340245,0.675869015 C10.2736604,-0.251438297 8.61111277,-0.221497907 7.48539114,0.74697893 L0.967012253,5.96466895 C0.37274068,6.42195254 0.0175522924,7.12063643 0,7.86685918 L0,16.568935 C0,18.4638535 1.54738155,20 3.45617342,20 L5.37229029,20 C6.05122667,20 6.60299723,19.4562152 6.60791706,18.7822311 L6.63477851,18.7733424 Z";

    -fx-background-color: #f2f2f2;
}

.list-item-style {
    -fx-shape: "M32 0L72.8 460.8L256 512L439.136 460.832L480 0H32Z M392.768 150.688L387.616 208.576L372.064 382.112L256 414.208L255.904 414.24L139.904 382.112L131.808 291.36H188.64L192.864 338.432L255.936 355.456L255.968 355.424L319.136 338.4L327.744 259.968L129.088 260.512L123.456 206.88L332.512 204.416L336.736 147.008L117.856 147.616L114.176 94.208H256H397.824L392.768 150.688Z";

    -fx-background-color: #6EBAFF;
}

.list-item-extension {
    -fx-shape: "M20.5,11 L19,11 L19,7 C19,5.9 18.1,5 17,5 L13,5 L13,3.5 C13,2.12 11.88,1 10.5,1 C9.12,1 8,2.12 8,3.5 L8,5 L4,5 C2.9,5 2.01,5.9 2.01,7 L2.01,10.8 L3.5,10.8 C4.99,10.8 6.2,12.01 6.2,13.5 C6.2,14.99 4.99,16.2 3.5,16.2 L2,16.2 L2,20 C2,21.1 2.9,22 4,22 L7.8,22 L7.8,20.5 C7.8,19.01 9.01,17.8 10.5,17.8 C11.99,17.8 13.2,19.01 13.2,20.5 L13.2,22 L17,22 C18.1,22 19,21.1 19,20 L19,16 L20.5,16 C21.88,16 23,14.88 23,13.5 C23,12.12 21.88,11 20.5,11 Z";

    -fx-background-color: #10bd10;
}

.list-item-backup {
    -fx-shape: "M14,12 C14,10.9 13.1,10 12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 Z M12.26,3 C7.17,2.86 3,6.95 3,12 L1.21,12 C0.76,12 0.54,12.54 0.86,12.85 L3.65,15.64 C3.85,15.84 4.16,15.84 4.36,15.64 L7.15,12.85 C7.46,12.54 7.24,12 6.79,12 L5,12 C5,8.1 8.18,4.95 12.1,5 C15.82,5.05 18.95,8.18 19,11.9 C19.05,15.81 15.9,19 12,19 C10.75,19 9.58,18.66 8.56,18.09 C8.17,17.87 7.69,17.95 7.38,18.27 C6.92,18.73 7.01,19.52 7.58,19.84 C8.89,20.57 10.39,21 12,21 C17.05,21 21.14,16.83 21,11.74 C20.87,7.05 16.95,3.13 12.26,3 Z";

    -fx-background-color: #9e1e1e;
}

.list-item-icon {
    -fx-min-width: 14;
    -fx-min-height: 14;
    -fx-max-width: 14;
    -fx-max-height: 14;
}


.mark-item {
    -fx-background-color: -fx-tab-active-color;
}