/*
 * This is an adjustment of the original modena.css for a consistent dark theme.
 * Original modena.css here: https://gist.github.com/maxd/63691840fc372f22f470.
 */
@import "modena.css";
@import "menu-bar.css";
@import "tabs.css";
@import "scroll-bar.css";

/* Redefine base colors */
.root {
    -fx-base: #272B33;
    -fx-background: #272B33;

    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 10%);

    /* text fields and table rows background */
    -fx-control-inner-background: derive(-fx-background, -30%);
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(220, 220, 220);
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(20, 20, 20);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: derive(-fx-background, -30%);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);

    -fx-link-color: #ff5500;

    /* @section menu and context-menu */
    -fx-menu-color: derive(#272B33, 10%);
    -fx-menu-color-hover: derive(-fx-menu-color, -10%);

    /* @section active tab */
    -fx-tab-active-color: -fx-control-inner-background-alt;
    -fx-tab-active-border-color: rgba(255, 255, 255, 0.2);
    -fx-tab-active-text-color: -fx-light-text-color;

    /* @section inactive tab */
    -fx-tab-inactive-color: transparent;
    -fx-tab-inactive-border-color: rgba(255, 255, 255, 0.2);
    -fx-tab-inactive-text-color: -fx-mid-text-color;

    /* @section inactive hover tab */
    -fx-tab-inactive-color-hover: -fx-control-inner-background-alt;
    -fx-tab-inactive-border-color-hover: rgba(255, 255, 255, 0.2);
    -fx-tab-inactive-text-color-hover: -fx-light-text-color;

    /* @section scroll-bar */
    -fx-scroll-bar-background-color: transparent;
    -fx-scroll-bar-thumb-color: -fx-link-color/*derive(-fx-background, 50%)*/;

    /* @section autocomplete */
    -fx-dn-autocomplete-color: -fx-color;

    /* @section dn-list-item (bundle, modules, forms etc) */
    -fx-dn-list-item-color: derive(-fx-color, -10%);
    -fx-dn-list-item-color-selected: -fx-base;
    -fx-dn-list-item-border-color: -fx-link-color;

    /* @section component list of component in form editor */
    -fx-component-spoiler-color: -fx-control-inner-background-alt;
    -fx-component-list-item-color: -fx-color;
    -fx-component-list-item-border-color: #FFFFFF0F;
    -fx-component-list-item-border-color-selected: -fx-link-color;

    -fx-component-list-item-hover-color: derive(-fx-color, -30%);

    /* @section component in project tab connected bundles */
    -fx-bundle-list-item-color: transparent;
    -fx-bundle-list-item-border-color: -fx-link-color;

    /* @section project list-view */
    -fx-project-color: -fx-color;
    -fx-project-list-item-odd: rgba(0, 0, 0, 0.15);
    -fx-project-list-item-selected: #FFFFFF4F;
    -fx-project-list-item-title-text-color: -fx-light-text-color;
    -fx-project-list-item-description-text-color: #FFFFFF9f;
    -fx-project-list-item-count-color: rgba(255, 255, 255, 0.4);
    -fx-project-list-item-count-text-color: white;

    /* @section container with items (bundle, modules, forms etc) */
    -fx-container-list-color: -fx-control-inner-background;
    -fx-container-list-border-color: -border-color;

    /* @section output console */
    -fx-console-color: derive(-fx-base, 80%);
    -fx-console-border-color: -fx-control-inner-background;

    /* @section autocomplete list */
    -fx-autocomplete-list-color: derive(-fx-base, 80%);
    -fx-autocomplete-list-border-color: -fx-control-inner-background;

    /* @section other */
    -fx-flat-button-color: derive(-fx-color, 20%);
    -fx-syncpane-container-color: -fx-color;
    -fx-syncpane-text-color: -fx-light-text-color;
    -fx-dn-designer-color: -fx-base;
    -fx-dn-tree-selected-color: rgba(255, 255, 255, 0.15);
    -fx-dn-tree-selected-text-color: white;


    -border-color: derive(-fx-background, 30%);
    -text-color: rgb(220, 220, 220);

    -fx-outer-border: transparent;
    -fx-inner-border: transparent;
    -fx-body-color: transparent;
    -fx-inner-border-bottomup: transparent;
    -fx-body-color-bottomup: transparent;
    -fx-inner-border: transparent;
}

* {
    -fx-text-fill: -fx-light-text-color;
}


/* Fix derived prompt color for text fields */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

.dn-autocomplete,
.dn-autocomplete-description,
.doc-entry {
    -fx-background-color: -fx-dn-autocomplete-color !important;
}

.dn-autocomplete {
    -fx-border-color: -border-color !important;
}

.dn-simple-toggle-button {
    -fx-background-color: -fx-component-list-item-color;
}

/* Список компонентов в конструкоре формы, элементы списка (модули, формы, пакеты) */
.dn-simple-toggle-button {
    -fx-border-color: -fx-component-list-item-border-color;
}

.dn-simple-toggle-button:selected {
    -fx-border-color: -fx-component-list-item-border-color-selected;
}

#content .dn-simple-toggle-button {
    -fx-background-color: -fx-bundle-list-item-color;
    -fx-border-color: -fx-bundle-list-item-border-color;
    -fx-border-width: 0 0 1 0;
}

.dn-simple-toggle-button:hover {
    -fx-background-color: -fx-component-list-item-hover-color;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: -fx-base;
}


.tree-cell .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-light-text-color;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: -text-color;
}

.check-box .box {
    -fx-border-color: rgba(255, 255, 255, 0.15);
}

.tree-view .tree-cell:filled:selected {
    -fx-background-color: -fx-dn-tree-selected-color;
    -fx-text-fill: -fx-dn-tree-selected-text-color;
}

/* fix check box mark */
#bottomSpoiler .check-box .mark {
    -fx-opacity: 0 !important;
}

#bottomSpoiler .check-box:selected .mark {
    -fx-background-color: -text-color !important;
    -fx-opacity: 1 !important;
}

.separator {
    -fx-background-color: -fx-base !important;
}

#consoleArea
{
    -fx-background-color: -fx-console-color !important;
    -fx-border-color: -fx-console-border-color;
}

.dn-console-list {
    -fx-background-color: -fx-autocomplete-list-color !important;
    -fx-border-color: -fx-autocomplete-list-border-color;
}

/*
.content - елементы в редакторе форм
#content - root элемент во вкладке "проект > проект"
*/
#content,
.content {
    -fx-background-color: -fx-color;
    -fx-text-fill: -fx-light-text-color !important;
}

.button:hover {
    -fx-background-color: -fx-control-inner-background-alt;
}


/*
    .syncPane класс который существует только в этом коде и
    который применяется к элементам во вкладке "проект"
 */

#projectNameLabel,
#projectDirLabel,
.syncPane *,
.syncPane {
    -fx-background-color: -fx-syncpane-container-color !important;
    -fx-border-width: 0;
    -fx-text-fill: -fx-syncpane-text-color !important;
}

.dn-add-tab-button {
    -fx-graphic: null !important;
    -fx-shape: "M12 8V16M16 12H8M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" !important;
    -fx-border-color: -fx-link-color !important;
    -fx-border-width: 1 !important;
    -fx-background-color: transparent !important;
    -fx-pref-width: 15 !important;
    -fx-pref-height: 22 !important;
    -fx-min-width: 22 !important;
    -fx-min-height: 22 !important;

    -fx-opacity: 0.7 !important;
}

.dn-add-tab-button * {
    -fx-graphic: null !important;
}

.dn-add-tab-button:hover {
    -fx-opacity: 1;
}

.scroll-pane.dn-mosaic-background > .viewport {
    -fx-background-image: url("../img/theme.png");
    -fx-background-repeat: repeat;
}

.hyperlink {
    -fx-text-fill: -fx-link-color !important;
}

/* items in project tab (bundle, modules, forms etc) */
.dn-list-item {
    -fx-border-color: -fx-dn-list-item-border-color !important;
    -fx-border-width: 0 0 2 0 !important;
    -fx-background-color: -fx-dn-list-item-color !important;
}

.dn-list-item * {
    -fx-background-color: transparent !important;
}

.selected {
    -fx-background-color: -fx-dn-list-item-color-selected !important;
    -fx-border-width: 1 1 2 1 !important;
}

.list-view .list-cell:odd {
    -fx-background-color: -fx-project-list-item-odd;
}

.list-view .list-cell:selected {
    -fx-background-color: -fx-project-list-item-selected !important;
}

/* category spoiler */
.titled-pane > .title {
    -fx-background-color: -fx-component-spoiler-color;
}

/* category content */
.titled-pane > .content {
    -fx-border-width: 0 0 1 0;
}

.titled-pane > .content *.list-cell:odd {
    -fx-background-color: transparent;
}

.titled-pane > .content *:focused,
.titled-pane > .content *:selected {
    -fx-background-color: transparent !important;
}

#list,
.flat-button,
#loginButton {
    -fx-background-color: -fx-flat-button-color !important;
}

.flat-button:hover {
    -fx-opacity: 0.7;
}

/* listview во вкладке Проект */
.dn-list-menu {
    -fx-background-color: -fx-project-color !important;
}

.dn-list-menu *.dn-list-menu-title {
    -fx-text-fill: -fx-project-list-item-title-text-color;
}

.dn-list-menu *.dn-list-menu-description {
    -fx-text-fill: -fx-project-list-item-description-text-color;
}

.dn-list-menu *.dn-list-menu-count {
    -fx-font-weight: bolder;
    -fx-alignment: center !important;
    -fx-min-width: 22;
    -fx-background-color: -fx-project-list-item-count-color;
    -fx-text-fill: -fx-project-list-item-count-text-color;
}

.flow-list-view {
    -fx-background-color: -fx-container-list-color;
    -fx-border-color: -fx-container-list-border-color;
}

.x-system-designer-element {
    -fx-background-color: -fx-dn-designer-color !important;
}

.tree {
    -fx-border-color: transparent, transparent;
}