/*
 * This is an adjustment of the original modena.css for a consistent dark theme.
 * Original modena.css here: https://gist.github.com/maxd/63691840fc372f22f470.
 */
@import "modena.css";

/* Redefine base colors */
.root {
    -fx-base: #272B33;
    -fx-background: #272B33;

    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 10%);

    /* text fields and table rows background */
    -fx-control-inner-background: derive(-fx-background, -30%);
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(220, 220, 220);
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(20, 20, 20);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: derive(-fx-background, -30%);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);

    -fx-link-color: #ff5500;

    -border-color: derive(-fx-background, 30%);
    -text-color: rgb(220, 220, 220);

    -fx-outer-border: transparent;
    -fx-inner-border: transparent;
    -fx-body-color: transparent;
    -fx-inner-border-bottomup: transparent;
    -fx-body-color-bottomup: transparent;
    -fx-inner-border: transparent;
}


* {
    -fx-text-fill: -fx-light-text-color;
}


/* Fix derived prompt color for text fields */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}


/* autocomplite */
.dn-autocomplete,
.dn-autocomplete-description,
.doc-entry {
    -fx-background-color: -fx-base !important;
}

.dn-simple-toggle-button,
.dn-anchor-pane,
.dn-tab-pane,
.dn-tab-pane .tab:selected,
.dn-tab-pane .tab-content-area,
.dn-mosaic-background {
    -fx-background-color: -fx-color;
}

/* context / menu bar */
.menu {
    -fx-padding: 0 10;
    -fx-background-color: -fx-color;
}

.menu-bar,
.context-menu,
.menu,
.menu-item {
    -fx-background-color: -fx-color;
}

.menu-bar .menu {
    -fx-padding: 3 10;
}

.context-menu {
    -fx-border-color: -fx-control-inner-background;
}

.menu-item {
    -fx-padding: 5 8;
    -fx-background-color: -fx-color;
}

.menu-item:focused, .menu-item:hover,
.menu:hover, .menu:focused {
    -fx-background-color: #FFFFFF0F;
}

.menu-item:focused, .menu-item:hover,
.menu:hover, .menu:focused {
    -fx-focus-color: #FFFFFF0F;
}


/* Список компонентов в конструкоре формы, элементы списка (модули, формы, пакеты) */
.dn-simple-toggle-button {
    -fx-border-color: #FFFFFF0F;
}

#content .dn-simple-toggle-button {
    -fx-border-color: -fx-link-color;
    -fx-border-width: 0 0 1 0;
}

.dn-simple-toggle-button:hover {
    -fx-background-color: derive(-fx-color, 30%);
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: -fx-base;
}


.dn-file-tab-pane,
    /*.dn-file-tab-pane .tab-header-area,
    .dn-file-tab-pane .tab-header-area .headers-region,
    .dn-file-tab-pane .tab-header-area .tab-header-background,*/
.dn-file-tab-pane .tab-content-area,
#fileTabPane,
    /*#fileTabPane .tab-header-area,
    #fileTabPane .tab-header-area .headers-region,*/
#fileTabPane .tab-header-area .tab-header-background,
#fileTabPane .tab-content-area {
    -fx-background-color: -fx-color !important;
    -fx-border-color: -fx-control-inner-background-alt;

}

/*#fileTabPane .tab-header-area .tab-header-background {
    -fx-border-color: -fx-link-color;
}

#fileTabPane .tab-header-area .tab-header-background {
    -fx-border-width: 0 0 2 0;
}*/

/*#fileTabPane  .tab-header-area > .headers-region > .tab {*/
#fileTabPane .tab-header-area > .headers-region > .tab {
    -fx-border-radius: 5 5 0 0 !important;
    -fx-background-radius: 5 5 0 0 !important;

    -fx-border-width: 1 1 0 1;
    -fx-border-color: transparent;

    -fx-background-color: transparent;
    /*-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;*/
}

#fileTabPane .tab-header-area > .headers-region > .control-buttons-tab,
#fileTabPane .tab-header-area > .headers-region >.tab:hover,
#fileTabPane .tab-header-area > .headers-region >.tab:selected {
    -fx-border-color: rgba(255, 255, 255, 0.2);
    /*-fx-border-color: -fx-link-color;*/

    -fx-background-color: -fx-control-inner-background-alt;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


#fileTabPane .control-buttons-tab > .container > .tab-down-button * {
    -fx-text-fill: white !important;
}


#fileTabPane .tab .tab-label {
    -fx-text-fill: -fx-mid-text-color;
    -fx-padding: 4 5;
}

#fileTabPane .tab:hover .tab-label,
#fileTabPane .tab:selected .tab-label {
    -fx-text-fill: -fx-light-text-color;
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

/* вроде как класс существет, а вот стили не применяются */
.scroll-pane.dn-web > .viewport,
.property-editor {
    -fx-background-color: green !important;
    -fx-text-fill: green !important;
}

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -border-color, rgb(220, 220, 220);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -border-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -border-color, rgb(255, 255, 255);
}

.scroll-bar .thumb  {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: derive(-fx-background, 50%);
}

.tree-cell .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-light-text-color;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: -text-color;
}

.check-box .box {
    -fx-border-color: rgba(255, 255, 255, 0.15);
}

.tree-view .tree-cell:filled:selected {
    -fx-background-color: rgba(255, 255, 255, 0.15);
}

/*#bottomSpoiler {
    -fx-border-color: transparent;
}*/

/* контейнер с консолью вывода приложения при его запуске */
/*#bottomSpoiler * {
    -fx-background-color: -fx-color !important;
    -fx-text-fill: -fx-light-text-color;
}*/

/* fix check box mark */
#bottomSpoiler .check-box .mark {
    -fx-opacity: 0 !important;
}

#bottomSpoiler .check-box:selected .mark {
    -fx-background-color: -text-color !important;
    -fx-opacity: 1 !important;
}

.separator {
    -fx-background-color: -fx-base !important;
}

.dn-console-list,
#consoleArea {
    -fx-background-color: derive(-fx-base, 80%) !important;
    -fx-border-color: -fx-control-inner-background;
}

/*
.content - елементы в редакторе форм
#content - root элемент во вкладке "проект > проект"
*/
#content,
.content {
    -fx-background-color: -fx-color;
    -fx-text-fill: -fx-light-text-color !important;
}


.button:hover {
    -fx-background-color: -fx-control-inner-background-alt;
}


/*
    .syncPane класс который существует только в этом коде и
    котоырй применяется к элементам во вкладке "проект"
 */

#projectNameLabel,
#projectDirLabel,
.syncPane *,
.syncPane {
    -fx-background-color: -fx-color !important;
    -fx-border-width: 0;
    -fx-text-fill: -fx-light-text-color !important;
}

/*
    из названия все понятно (задний фон редактора форм)
 */

.dn-add-tab-button {
    -fx-background-color: transparent;
    -fx-graphic: url("../img/icons/add-24.png") !important;
    -fx-opacity: 0.7;
}

.dn-add-tab-button:hover {
    -fx-opacity: 1;
}

.scroll-pane.dn-mosaic-background > .viewport {
    -fx-background-image: url("../img/theme.png");
    -fx-background-repeat: repeat;
}

.hyperlink {
    -fx-text-fill: -fx-link-color !important;
}

/* items in project tab (bundle, modules, forms etc) */
.dn-list-item {
    -fx-border-color: -fx-link-color !important;
    -fx-border-width: 0 0 2 0 !important;
    -fx-background-color: derive(-fx-color, -10%) !important;
}

.dn-list-item * {
    -fx-background-color: transparent !important;
}

.selected {
    -fx-background-color: -fx-base !important;
    -fx-border-width: 1 1 2 1 !important;
}

.list-view .list-cell:odd {
    -fx-background-color: rgba(0, 0, 0, 0.15);
}

.list-view .list-cell:selected {
    -fx-background-color: #FFFFFF4F !important;
}

/* category spoiler */
.title {
    -fx-background-color: -fx-control-inner-background-alt !important;
}

.content {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: derive(-fx-color, -20) !important;
}

.content *.list-cell:odd {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.content *:focused,
.content *:selected {
    -fx-background-color: rgba(0, 0, 0, 0) !important;
}

#list,
.flat-button,
#loginButton {
    -fx-background-color: derive(-fx-color, 20%) !important;
}

.flat-button:hover {
    -fx-opacity: 0.7;
}


/* listview во вкладке Проект */
.dn-list-menu {
    /*-fx-background-color: red !important;*/
}

.dn-list-menu  *.dn-list-menu-title {
    -fx-text-fill: -fx-light-text-color;
}

.dn-list-menu  *.dn-list-menu-description {
    -fx-text-fill: #FFFFFF9f;
}

.dn-list-menu  *.dn-list-menu-count {
    -fx-font-weight: bolder;
    -fx-alignment: center !important;
    -fx-min-width: 22;
}


.flow-list-view {
    -fx-background-color: -fx-control-inner-background;
    -fx-border-color: -border-color;
}

.x-system-designer-element {
    -fx-background-color: -fx-base !important;
}

.dn-autocomplete {
    -fx-border-color: -border-color !important;
}


